.about-container {
    background-color: #1a1a1a;
    width: 100%;
    height: auto;
    text-align: center;
}

.about-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: #FF9F29;
    margin: 15px 0;
    width: 50vw;
}

.about-subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    color: #EEEEEE;
    margin: 15px 0;
    width: 50vw;
}

.about-p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: #EEEEEE;
    margin: 12px 0;
    width: 50vw;
}

@media screen and (max-width: 800px){
    .about-container  {
        height: auto;
        margin: 35px 0;
    }

    .about-story {
        padding-bottom: 25px;
    }

    .about-title {
        font-size: 1.2rem;
    }
    .about-subtitle {
        font-size: 1rem;
    }
    .about-p {
        font-size: 0.8rem;
    }

    .menu-btn_container {
        padding: 35px 0;
    }
}

