.dishes_container {
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    margin-left: 9%;
    scrollbar-width: thin;
    scrollbar-color: #ff9f2948 #1a1a1a;
}

.dishes_image {
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.dishes__content {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dishes_info,
.dishes__img {
    width: 50%;
}

.dishes_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishes__title {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: #FF9F29;
}

.dishes__ingredients {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
    color: #EEEEEE;
    margin: 10px;
    width: 210px;
}

.dishes__price {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    color: #FF9F29;
    margin: 10px;
}

.spice-icon,
.veg-icon {
    width: 70px;
}

@media screen and (max-width: 800px) {
    .dishes__content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .dishes_image {
        width: 100%;
        object-fit: cover;
    }

    .dishes__title {
        font-size: 2rem;
    }

    .dishes__ingredients {
        font-size: 1rem;
    }

    .dishes__price {
        font-size: 1.6rem;
    }

    .spice-icon,
    .veg-icon {
        width: 5ch;
    }
}