.link-route {
    color: #EEEEEE;
    text-decoration: none;
}

.link-route-mobile {
    color: #1A1C20;
    text-decoration: none;
}

.link-route:hover {
    background-color: #ff9f29d5;
    border-radius: 8px;
    transition: 0.8s ease;
}

